@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo global YF Pratas - Dark Mode */
body {
  background-color: #000000; /* Fundo Preto */
  color: #FFFFFF;            /* Texto Branco */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* Animação suave de pulsação para a Logo */
@keyframes pulso-suave {
  0%, 100% { 
    transform: scale(1); 
  }
  50% { 
    transform: scale(1.05); /* Aumenta 5% bem devagar */
  }
}

.animate-pulso-suave {
  animation: pulso-suave 3s ease-in-out infinite;
}